/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log*
yarn.lock
/.idea
/.vscode
/database/database.sqlite
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/temp/*
/storage/app/berita-acara-pdf/*
/bootstrap/cache/*.php
/public/build
*.log
.DS_Store
Thumbs.db
/cookies.txt
/test_*.php
/dashboard_response.html
/test_*.txt
node_modules
database/data/rak_cikarang.json
backup_gdcikarang_manual.sql
bootstrap/cache/pac315D.tmp
database/seeders/PurgeOldTransactionsSeeder.php
database/seeders/Up3CikarangRakSeeder.php
bootstrap/cache/pac315D.tmp
storage/app/test.txt
